

.section {
  min-height: 10vh;
  width: 100vw;
  /* The image used */
  height: 625px;
  background-image:
  linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(running.jpg);
    background-repeat:no-repeat;
    background-size: cover;

  font-family: inherit;

  }

  .intro {
      position: absolute;
      width: 700px;
      margin-left: 21%;
      margin-top: 5%;
      font-weight: bolder;
      color: white;
      text-align: center;
      width: auto;
      height: auto;
    /*width/height auto makes the screen responsive*/
  }

#About-Us-Btn {
  background: rgb(232, 153, 164);
}

.section1 {
  min-height: 10vh;
  width: 100vw;
  height: 625px;
  /* The image used */
  background-color: orange;
  position: relative;
}

.about-us-title {
  position: absolute;
  left: 0px;
  top: -70px;
}
