

html {
  scroll-behavior: smooth;
}

.section {
  min-height: 10vh;
  width: 100vw;
  /* The image used */
  height: 625px;
  background-image:
  linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(running.jpg);
    background-repeat:no-repeat;
    background-size: cover;

  font-family: inherit;

  }

  .intro {
      position: absolute;
      width: 700px;
      margin-left: 27%;
      margin-top: 5%;
      font-weight: bolder;
      color: white;
      text-align: center;
      width: auto;
      height: auto;
    /*width/height auto makes the screen responsive*/
  }

#About-Us-Btn {
  background: rgb(232, 153, 164);
}

.subsections {
  min-height: 10vh;
  width: 100vw;
  height: 625px;
  /* The image used */
  background-color: orange;
  position: relative;
}

.subsection-titles {
  position: absolute;
  left: 0px;
  top: 70px;
  color: white;
  margin-left: 45%;
  margin-top: 1%;
  text-align: center;
}

#about-us {
  min-height: 10vh;
  width: 100vw;

  height: 700px;
  background-image:
  linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url(start-line.jpg);
    background-repeat:no-repeat;
    background-size: cover;

}



#f-f-s {
  min-height: 10vh;
  width: 100vw;
  /* The image used */
  height: 700px;
  background-image:
  linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url(gym.jpeg);
    background-repeat:no-repeat;
    background-size: cover;

}


#contact-us {
  min-height: 10vh;
  width: 100vw;
  /* The image used */
  height: 700px;
  background-image:
  linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url(yoga_ansty.jpg);
    background-repeat:no-repeat;
    background-size: cover;

}


.navbar-scroll {
	padding: 0;
	transition-duration: 0.6s;
}

.entry1 {
  margin: 30px;
  background-color: white;
  border: 1px solid black;
  opacity: 0.6;

  position: absolute;
  left: -300px;
  width: 750px;
  top: 100px;

}

.entry1 p {
  margin: 5%;
  font-weight: bold;
  color: black;
  font-size: 0.5em

}

.entry2 {
  margin: 30px;
  background-color: white;
  border: 1px solid black;
  opacity: 0.6;

  position: absolute;
  left: 300px;
  width: 700px;
  top: 100px;

}

.entry2 p {
  margin: 7%;
  font-weight: bold;
  color: black;
  font-size: 1em;

}

#mail-list {
  background-color: #d9534f;
  min-height: 10vh;
  width: 100vw;
  height: 700px;

}

#mail-list-title {
  margin-left: 400px;
}

.center-form {
  text-align: center;
}
